.card {
    display: flex;
    justify-content: space-between;
    align-items: center;
    width: 300px;
    border-radius: 5px;
    background-color: rgba(10,10,10,0.20);
    padding: 0.25rem 1rem;
    margin: 1rem auto;
   
  }
  
  .cardDetails {
    width: 60%;
    padding-left: 0.5rem;
  }
  
  .cardButtons{
    width: 30%;
    display: flex;
    justify-content: center;
  }
    
.btn-edit {
      color: white;
      margin-right: 0.5rem;
      font-weight: bold;
      background-color: #00751d;
      border: 1px solid #00751d;
      border-radius: 0.25rem;
      cursor: pointer;
      padding: 0.5rem;
      transition: 0.25s ease-in-out;
}

.btn-delete {
    color: white;
    margin-right: 0.5rem;
    font-weight: bold;
    background-color: red;
    border: 1px solid red;
    border-radius: 0.25rem;
    cursor: pointer;
    padding: 0.5rem;
    transition: 0.25s ease-in-out;
}